.loader-container {
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  z-index: 9999999;
  display: flex;
  /* width: 100vw;
  height: 100vh; */
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
}

.spinner-container {
    display: -ms-flexbox;
    text-align: center;
    padding: 16px;
    -ms-flex-align: center;
    -ms-flex-pack: center;
    justify-content: center;
    background: white;
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 2px;
}
.loader-text {
    font-size: 0.8em;
}